body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.initialClass {
  background-color: gray;
  cursor: pointer;
  padding: 10px;
  border-style: solid;
  color: black;
  margin: 10px;
  border-radius: 10px;
  border-color: black;
  /* pointer-events: all; */
}

.active {
  background-color: #0000ff;
  pointer-events: none;
  border-color: #0000ff;

  color: white;
}

.success {
  background-color: #00ff00;
  pointer-events: none;
  color: white;
}

.error {
  background-color: #ff0000;
  pointer-events: none;
  color: white;
}

.containerGame {
  height: 50vh;
  width: 100vw;
}

.containerRecords {
  height: 20vh;
}

.containerItems {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 25%;
}